In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
plt.figure(figsize=(width, height))
sns.boxplot(df['columname']) 
sns.boxplot(x=df['collumnname'])

In [ ]:
plt.figure(figsize=(width, height))

plt.subplot(n_rows, n_cols, position)
plt.title('title1')
sns.boxplot(x = df[df['col']=='val']['col2'])

plt.subplot(n_rows, n_cols, position2)
plt.title('title2')
sns.boxplot(x = df[df['col']=='val2']['col2'])

In [ ]:
d = df['gender'].value_count().reset_index()
sns.barplot(x = d['index'], y =d['gender'])

In [ ]:
d = df.groupby('columnname1').agg({'column2':'agg_func(mean,max)'}).reset_index()
sns.barplot(x = d['col1'], y = d['col2'])

In [ ]:
#hue is imp property which shows category inside a category
#in count plot 
#together it shows combinations of categories and their counts
sns.countplot(x = df['categorical_col1'], hue=df['categoriacal_col2'])

In [ ]:
#first step of data analysis process is to inspect the data like each and every col
#check if there are non sensible data types for a column change them according to your needs
df['col'].dtype # to check the data type of the column
df['col'].astype(int) # change the data type according to your use case
#if you face any error like NA or infinity try to check if there is Na in the data
df['col'].isnull().sum()



### important note
#while working with data with a column having NaN, because NaN is a float, this forces any integer to become a float overall the column becomes float
# for this pandas come up with new data type 
#nullable integer data type ( Int64) "I" is differentiated between int
df['col'] = df['col'].astype("Int64")
df['col'].dropna() # to drop na


#while plotting if you face overlapping issue use the
sns.plt....
plt.xticks(rotation = 90)

In [ ]:
pd.to_numeric(df['col']) # converts the data type of the column to int or float according to the values
import pandas as pd

data = ['1', '2', '3.5', '4']
numeric_data = pd.to_numeric(data)
print(numeric_data)
#[1.0, 2.0, 3.5, 4.0]

pd.to_numeric(data, error='coerce') #error argument can take one of the three values raise, coerce, ignore
#raise -> raises the error
#coerce -> converts to NaN if an error occurs like if the value is ' '
#ignore -> discards or ignores entire row

In [ ]:
pd.to_datetime(df['datecol'],format='') # use strftime.org

In [ ]:
#if the column data is utc timeformat in object type
#convert using
pd.to_datetime(df['col']) 
#and then if you want to seperate date and time from the datetime col
df['date'] = df['col'].dt.date # return the values in object so need to convert them again to date type
pd.to_datetime(df['date'])
df['time'] =df['col'].dt.time

In [ ]:
df.drop_duplicates()